// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


body, h1, h2, h3, h4, p, span, input, label, div {
    text-shadow: 0px 0px 0px;
    font-family: Century Gothic!important;
}

input::-webkit-input-placeholder {
  color: color($colors, gray);
}
input:-moz-placeholder {
 color: color($colors, gray);
}
input:-ms-input-placeholder { /* IE10+ */
  color: color($colors, gray);
}

//Width

.width-15 {
-webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
.width-20 {
-webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.width-30 {
-webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;    
}
.width-70 {
-webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;    
}
.width-40 {
-webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;    
}
.width-50{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; 
}
.tab-bg {
    background: #fff;
    border-radius: 20px;
}

ion-content {
    background: url(../assets/layoutBG.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p {
    margin-top:0;
    margin-bottom:5px;
}
.button-md {
    text-transform: capitalize;
    letter-spacing: 0.8px;
}
.text-capitalize {
    text-transform: capitalize!important;
}

$mycustomcolor: #000;

/*Font-sizes*/

$font-small: 11px;
$font-regular: 12px;
$font-medium: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-big: 20px;

.font-small {
    font-size: $font-small!important;
}
.font-medium {
    font-size: $font-medium!important;
}
.font-regular {
    font-size: $font-regular!important;
}
.font-normal {
    font-size: $font-normal!important;
}
.font-large {
    font-size: $font-large!important;
}
.font-big {
    font-size: $font-big!important;
}
.bg-white{
    background: white;
}
/*Font weights*/

$weight-medium: 400;
$weight-bold: 700;

.font-bold {
    font-weight: $weight-bold;
}

$text-color: (
    blue: #00a4e4,
    profile: #947638,   
    white: #fff,
    gray: #5f5f5f,
    black: #000,
    darkGrey: #333,
    lightGray: #b2b2b2,
);
.gray{
    color: color($text-color, lightGray)!important;
}

.border-none {
    border: 0!important;
}

ion-toolbar ion-icon.icon.icon-md.ion-logo-usd {
    border: 1px solid white;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    min-width: 20px;
    font-size: 10px;
    line-height: 1.8;
}

/*My Profile*/
.prifile-pic-img  {
    border-radius: 50%;
    border: 4px solid #10a8a3;
    overflow: hidden;
    z-index: 12;
    position: relative;
}
.prifile-pic-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-name {
     font-size: 16px;
     padding: 5px 0px 5px 0px;
}
.remove-padding-left {
    padding-left: 0px !important; 
}
.remove-padding-top {
    padding-top:0!important;
}
.remove-padding-right {
    padding-right:0!important;
}
.remove-padding-bottom {
    padding-bottom:0!important;
}
.margin-bottom {
    margin-bottom:5px!important;
}
.profileDetails > p:nth-child(2) {
    font-size:12px;
}
.margin-top-5 {
    margin-top: 5px;
}
.remove-margin-bottom {
    margin-bottom: 0!important;
}
.profileTwoBtn div {
    font-size: 11px;
}
.profileTwoBtn .button-round-md {
    height:1.9em;
}
.profileDetails > p:nth-child(2) strong,.profileDetails > p:nth-child(3) strong,  .profileDetails > p:nth-child(3){
    font-size:11px;
}
.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.toolBarIcons .toolbar-content.toolbar-content-md > ion-buttons {
    width: 20%;
}
.toolbar-title-md {
    font-size: 1.7rem;
    font-weight: 400;
}
.notificationNumb {
    width: 14px;
    height: 14px;
    border-radius: 100% !important;
    padding: 3px 0px 4px 0px;
    font-size: 8px;
    margin: -10px 0px 0px -10px;
}
.toolBarIcons .bar-button-md[icon-only] ion-icon {
    font-size: 1.2em;
}
.toolBarIcons{
    min-height: 32px;
    padding: 0px;
}
ion-buttons.borderForDriver {
    border-right: 1px solid rgba(255, 255, 255, 0.36);
    border-left: 1px solid rgba(255, 255, 255, 0.36);
}  
.notificationsBtn{ 
    margin-left: 15px!important;
}
/*End My Profile*/



/*Login Page*/


.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    box-shadow: inset 0 -1px 0 0 #f53d3d!important;
}

.loginPageWrapper .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: initial;
    box-shadow: 0px 0px 0px;
}   
.loginPageWrapper > img {
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 10%;
}

.loginPageWrapper ion-list ion-item{
    background-color: rgba(255, 255, 255, 0);
}
.loginPageWrapper .list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede!important;
     font-size:$font-medium;
     font-weight: 100;
}
.loginPageWrapper .list-md .item-block .item-inner ion-label{
    margin-top: 10px;
    color:  color($text-color, gray)
}
.loginPageWrapper ion-list ion-item:last-child{
    border-bottom:0!important;
}
.input-has-focus .label-md[stacked],
.input-has-focus .label-md[floating] {
  color: #10b1ac!important;

}
.item-md.item-input.input-has-focus .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .item-md.item-input.input-has-focus:last-child .item-inner {
  border-bottom-color: #10b1ac;
  box-shadow: inset 0 -1px 0 0 #10b1ac!important;
}
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0);
}
.loginBottomWrapper > p {
    font-size:$font-small;

}
.loginBottomWrapper > p:last-child {
    color:color($text-color, darkGrey);
    font-size:$font-medium;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    margin-top: 4px;
    margin-bottom: 8px;
}
.socialMediaIcons img{
    width:85%;
}

/*End Login Page*/



/* Sign Up Page */

.registerForm ion-input::placeholder {
    color:color($text-color, darkGrey);
}


/* Storefronts */

.toolBarIcons .toolbar-content > ion-col {
    padding: 0;
}
.toolBarIcons .toolbar-content {
    display: flex;
    text-align: center;
}
.listingWrap > ion-row {
    position: relative;
}
.listingWrap ion-img img {
    width:100%;
    height: 100%;
}
.storefrontsWrap .segment-md .segment-button.activated, .storefrontsWrap .segment-md .segment-button.segment-activated {
    background: color($colors, pink);
    color: color($colors, white);
    border-radius: 30px;
}
.storefrontsWrap .segment-md .segment-button {
    height: 2.6em;
    border-bottom-width: 0px;
    font-size: $font-medium;
    line-height: 2.7;
    text-transform: capitalize;
    color: color($colors, darkGrey);
    font-weight: 400;
}
.uploadIcn {
        position: absolute;
    right: 0;
        top: 25px;
}
.listingWrap ion-img {
    width: 92px!important;
    height: 92px!important;
    border: 4px solid white!important;
}
.listingWrap{
    margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    border-radius: 0px;
    font-size: 1.4rem;
    background: rgba(227, 227, 227, 0); 
    box-shadow: 0px 0px 0px;
}
.listingWrap ion-row {
 background: rgba(227, 227, 227, 0.62);   
}
.ratingStars ion-icon {
    color: color($colors, gold);
    font-size: $font-big;
}
.btnRightSide .button-small-md {
    height: 1.9em;
    font-size: 11px;
    font-weight: $weight-medium;
}
.btnRightSide .item-top-right {
    width:22px!important;
}
.item-bottom-right {
        position: absolute;
    bottom: 5px;
    right: 4px;
}
.item-top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}


/* Online Page */

.myProfileDetails h2 {
    font-size:$font-medium;
}
.onlineWrapper ion-card{
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
       background: none;
}
.onlinePageWrap + ion-card-content + a  {
    text-decoration:none;
}
.onlinePageWrap button {
    color: color($colors, darkGrey)
}
.postActions.row {
    margin: 5px 0px;
    border-bottom: 1px solid #bebebe;
}
.postIndividualWrap .myProfileDetails {
    background: none;
}
ion-row.postActions {
    border-bottom: 1px solid #ececec;
}

/* forgot password */

.forgotPasswordWrap > p {
    font-size: $font-big;
}


/* Side Menu */

ion-list.sideMenu.list.list-md {
    background: white;
    margin-bottom: 0;
    padding-bottom: 16px;
}
.menuBottomWraper {
    background: white;
    padding-top: 16px;
}
.sideMenu + ion-list {
    margin-bottom: 0;
}
.sideMenu ion-item ion-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.sideMenu + ion-list > button .item-inner {
    padding-left: 16px;
    color: color($colors, gray);
    font-size: $font-medium;
}
.text-underline{
    text-decoration:underline;
}

/* Products Page */

.productBottomWrapper p {
    line-height: 15pt;
    padding: 0.3em 0.8em;
    font-size: 10.4px;
    margin-bottom: 3px;
    border-bottom: 1px solid #efefef;
}
.productBottomWrapper {
    text-align: left;
    background: white;
    color: #202020;
    font-size: 10px;
}
.productImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.productDetailsLeft > button {
    margin-left: 8px;
    margin-right: -5px;
    font-size: 11px;
}
.productDetailsLeft .button-md {
    height: 1.5rem;
    font-size: 11px;
}
.productInnerRight {
    float: right;
    padding-right: 5px;
}
.productInnerRight button {
    color: #10a8a3;
}
.productInnerLeft {
    float: left;
    padding-left: 5px;
}
.productsPage .tab-button {
    min-height: 3.6rem!important;
    font-weight: bold;
}
.productsColumns img{
    max-height: 150px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    min-height: 150px;
}
.liked {
    color: color($colors, red);
}
.productsColumns ion-card-content {
    font-size: $font-small;
}
.masterWraper::after{
    background-image: none;
}
.masterWraper .segment-md-black .segment-button.activated, .masterWraper .segment-md-black .segment-button.segment-activated {
    border-color: #10b1ac;
    color: #10b1ac;
}   
.masterWraper .segment-md .segment-button {
    border-bottom-color: rgba(0, 0, 0, 0);

}
.subTabs .segment-button {

}
.subTabs .segment-button {
    height: 3.2rem;
    line-height: 2.5;
    border-right: 1px solid #e6e5e5!important;
    color: #484848;
}
.subTabs .segment-button.activated, .subTabs .segment-button.segment-activated {
    border-color: #10a8a3;
    opacity: 1;
    color: #10a8a3;
}
.productsColumns ion-card-content p {
    padding-left: 6px;
    padding-top: 5px;
}
.productsColumns ion-col ion-item button {
    margin:0px!important;
}
.productIndividualWrappers{
    background-color: color($colors, white);
}
.productIndividualWrappers .item-md.item-block .item-inner {
    border-bottom: 0px solid #dedede;
}
.individualFilter .segment-md-darkGrey .segment-button.activated, .individualFilter .segment-md-darkGrey .segment-button.segment-activated {
    color: color($colors, darkGreen);
}
.productsPage .tab-button[aria-selected=true] {
    color: #099b96;
}
.productsPage .tab-button {
    
}

/*  Terms and conditions page */

.termsPageWrapper {
    font-size: $font-medium;
    color: color($colors, gray);
}
.termsPageWrapper p {
    font-size:$font-normal;
    color: color($colors, darkGrey);
    font-weight: $weight-medium;
 }

 /* Edit Profile */

 .editProfileBody .item-input ion-label.label-md, .editProfileBody  .item-select .label-md {
    font-size: $font-normal;
    color:color($colors, gray);
 }
  .editProfileBody .text-input-md {
      font-size: $font-medium;
    color:color($colors, gray);
  }
 .editProfileBody .list-md .item-input:last-child {
    border-bottom: 0px solid #dedede;
}
.editProfileBody > ion-item {
    padding-left:0;
        background: rgba(255, 255, 255, 0);
}

.favorites-page .card-subtitle {
    font-size: 1.0em;
    margin-top: -4.5em;
    margin-left: 16px;
    position: relative!important;
    margin-bottom: 8px;
}
.favorites-page .card-subtitle ion-img {
    width:50px!important;
    height:50px!important;
    border:0;
}
.favorites-page .card-title {
    font-size: 2.0em;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-top: -2.2em;
    margin-right: 14px;
    position: relative!important;
    top: 0!important;
    left: 0!important;
}


//Reservation Page

.reservationBody ion-title div {
    font-size: $font-normal;
    padding-left: 0;
}
.reservationBody ion-title + p {
    font-size: $font-small;    
}
.reservationBody ion-title + div {
    font-size: $font-small;
}

//Reviews and Raating

.reviewsPage > ion-card {
    background: none;
    border: none;
    box-shadow: 0px 0px 0px;
}
.reviewsPage > ion-card .ratingStars {
    padding-top: 6px;
}
.reviews {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}
.authorName {
    padding-top: 8px;
}

.progressBarWrap {
    width: 100%;
}
.meter {
    height: 10px;
    position: relative;
    background: #d2d2d2;
    border-radius: 25px;
    padding: 6px;
}
.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(43,194,83)),
        color-stop(1, rgb(84,240,84))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
    );
    position: relative;
    overflow: hidden;
}
.orange > span {
    background-color: #ffb328;
    height: 12px;
    margin-top: -6px;
    margin-left: -7px;
}
		

//Cart page

.sectionOne > button ion-icon {
    margin-top: -9px;
}
.cartBody > ion-row {
    border-bottom: 1px solid #dddddd;
}
.orederPriceCol {
        margin-top: 12px;
}
.orderQuantity.font-regular {
    display: flex;
}
.orderQuantity button {
background: color($colors, darkGreen);
    color: white;
    margin: 10px 0px 0px 0px;
    height: 19px;    background: #10a8a3;
    color: white;
    margin: 10px 0px 0px 0px;
    height: 19px;
}
.cartBody .bg-white{
    padding: 4px 0px 4px 0px;
}
.orderQuantity ion-input {
    max-width: 30px;
    margin: 10px 0px 0px 0px;
    height: 19px;
    background: white;
}
.orderQuantity ion-input input {
    margin: 3px;
}
.deliveryPickup > span {
    position: relative;
    top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.sectionTwo {
    padding: 15px 10px 0px 6px;
}
.checkoutPage > ion-row {
    padding: 8px 3px 8px 3px;
    color: #565656;
}
.checkoutBottom {
    box-shadow: 0px 0px 0px;
    background: #e4e4e4;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

//Payment page

.paymentTypo button {
    padding: 0;
}
.radio-md .radio-checked {
    border-color: #10b1ac;
}
.radio-md .radio-inner {
    background-color: #10b1ac;
}
.item-radio-checked.item-md ion-label {
    color: #10b1ac;
}
.paymentTypo .item-inner {
    border-bottom: 2px solid rgba(255, 255, 255, 0.55) !important;
}
.paymentTypo .item-md {
    color: #6b6b6b;
    background-color: rgba(226, 226, 226, 0.57);
}

//Payment info


.cardDetails ion-item {
    padding-left: 0;
    background: none;
}
.cardDetails ion-item ion-input {
font-size: 11px!important;
    margin-top: 7px;
} 
.cardDetails ion-item.expiryYear {
    padding-right: 20px;
}

//Confirmation Page

.confirmationImg {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}
.confirmationMiddle {
    background: rgba(220, 220, 220, 0.62);
}  
.postExperience ion-textarea {
    background: white;
    padding: 1px 5px 1px 5px;
    font-size: 13px!important;
}   
ion-img.prifile-pic-img.confirmationProfile.img-loaded {
    position: absolute;
    left: 25px;
    border: 3px solid #10a8a3;
    top: 112px;
}
.background-none {
    background: none;
    box-shadow: 0px  0px 0px;
}


//Product Info Page

.productInfoImg {
    height: 230px;
    object-fit: cover;
}
.productInfoDetails ion-title div {
    font-size: 16px;
    padding: 10px 0px 8px 0px;
}
ion-thumbnail.confirmationProfileWrap {
    height: 90px;
    width: 90px;
    object-fit: cover;
}

//Drivers Page

.settingsBtn {
    background: #10a8a3;
    font-size: 6px;
    height: 16px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 36px;
    position: absolute;
    left: 15.3em;
    top: 3.5em;
}
.settingsBtn ion-icon {
    padding-right: 0;
}
.phoneIcn {
    font-size: 6px;
    height: 16px;
    border-radius: 20px;
    width: 36px;
}
.refreshBtn {
    font-size: 6px;
    height: 16px;
    border-radius: 20px;
    padding: 0px 4px 0px 0px!important;
    margin-left: 0;
}
.refreshBtn span > span{
    font-size: 10px;
}
.btnSectionRight {
    margin-top: 1em;
    text-align: right;
}
.deliveryType ion-input input {
    margin-left: 0;
}
.collectingBtnWrap >ion-segment-button {
    background: #10a8a3!important;
    opacity: 1!important;
    border-radius: 50px;
    color: white!important;
    margin: 0px 7px;
    font-size: 12px!important;
}
.collectingBtnWrap .segment-button.activated, .collectingBtnWrap .segment-button.segment-activated {
    border-color: #8f8f8f;
    opacity: 1;
    background: #b3b3b3!important;
}
.pickUpTime ion-col div {
    border: 2px solid #626262;
    color: #626262;
    padding: 16px 0px;
}